.DS_Store
/_site
Gemfile.lock
assets/vendor/jquery/build
assets/vendor/jquery/speed
assets/vendor/jquery/src
assets/vendor/jquery/test
assets/vendor/octicons/svg
assets/vendor/**/*.md
assets/vendor/**/*.txt
assets/vendor/bootstrap-sass/assets/javascripts/
.sass-cache
.env
tmp/