---
layout: home
permalink: /index2.html/
title:
featured_orgs:
  - whitehouse
  - alphagov
  - fcc
  - gsa
  - nasa
  - USDepartmentofLabor
  - codeforamerica
  - sunlightlabs
  - nasa
  - USDepartmentofLabor
  - codeforamerica
  - sunlightlabs
  - chicago
  - alphagov
  - fcc
  - gsa
  - nasa
  - USDepartmentofLabor
  - codeforamerica
  - sunlightlabs
  - chicago
  - nys-its
  - sunlightlabs
  - nasa
  - USDepartmentofLabor
  - codeforamerica
  - sunlightlabs
  - chicago
  - alphagov
  - fcc
  - gsa
  - nasa
  - USDepartmentofLabor
  - codeforamerica
  - sunlightlabs
  - whitehouse
  - alphagov
  - fcc
  - gsa
  - sunlightlabs

---


<div class="stories container">
  <h2 style="padding-bottom: 28px;">Stories of <a href="#" class="title-link open data" title="Data made easily accessible and fee to the public.">open data</a>, <a href="#" class="title-link open source" title="Code or creation materials made easily accessible and free to the public.">open source</a> and  <a href="#" class="title-link open government" title="An acessible, transparent and forthcoming with data government agency.">open government</a>.</h2>
    <div class="row">
      <div class="story-unit span4">
        {% assign post=site.posts[0] %}
        {% include post-single.html %}
      </div>
      <div class="story-unit span4">
        {% assign post=site.posts[1] %}
        {% include post-single.html %}
      </div>
      <div class="story-unit span4">
        {% assign post=site.posts[2] %}
        {% include post-single.html %}
      </div>
    </div>

    <div class="row">
      <div class="story-unit span4">
        {% assign post=site.posts[3] %}
        {% include post-single.html %}
      </div>
      <div class="story-unit span4">
        {% assign post=site.posts[4] %}
        {% include post-single.html %}
      </div>
      <div class="span4">
        <article id="more-stories" class="story-unit">
          <h2 style="margin: 0px; line-height: inherit; padding-bottom: 20px;">More Stories</h2>
          {% for post in site.posts limit:10 offset:4 %}
          <div class="one-story">
            <div class="meta">{{ post.date | date: "%B %d, %Y"}}</div>
            <h6><a class="title-link {{ post.category }}" href="{{ post.url }}">{{ post.title }}</a></h6>
          </div>
          {% endfor %}
          <div id="desktop-archive"><small><a href="/archive/">Complete Archive</a></small></div>
          <div id="mobile-archive"><h4><a href="/page2/">Story Archive</a></h4></div>
        </article>
      </div>
    </div>

<!--   <div class="right-side" style="float: right;">
    <div class="row">
      <div class="span4">
        <article id="more-stories" class="story-unit">
          <h2 style="margin: 0px; line-height: inherit; padding-bottom: 10px;">More Stories</h2>
          {% for post in site.posts limit:10 offset:4 %}
          <div class="one-story">
            <div class="meta">{{ post.date | date: "%B %d, %Y"}}</div>
            <h6><a class="title-link {{ post.category }}" href="{{ post.url }}">{{ post.title }}</a></h6>
          </div>
          {% endfor %}
          <div id="desktop-archive"><small><a href="/archive/">Complete Archive</a></small></div>
          <div id="mobile-archive"><h4><a href="/page2/">Story Archive</a></h4></div>
        </article>
      </div>
    </div>
  </div> -->
</div><!-- end stories container -->

<div id="join-the-revolution" class="container"> 



<div id="join-the-revolution"> 
<div class="row">
  <div class="span8 the-revolution">
    <h1 class="lrg-button">Join the Revolution</h1>
    <h4>The White House, city and state governments, and millions of communities around the world who share and collaborate on code, data, policy, and more.</h4>
  </div>
</div>
  <div class="row links">
    <div class="span4">
      <h3>Sign Up</h3>
      <ol>
        <li>New to GitHub? <a href="https://github.com/signup/free" target="_blank">Signup</a> for an account. Already have an account, skip to step two.</li>
        <li><a href="https://github.com/settings/organizations" targt="_blank">Create an Organization</a> account.</li>
        <li>Invite your team members!</li>
      </ol>
    </div>
    <div class="span4">
      <h3>Learn More</h3>
      <ul>
        <li>The <a href="docs/features/">features</a> that make GitHub so great.</li>
        <li>What GitHub is all <a href="docs/about/">about</a></li>
        <li><a href="/docs/getting-started/">Project ideas</a> to get started with</li>

      </ul>
    </div>
  </div> 
</div>

<div id="orgs" class="mega-section">
  <span class="orgs-cutout"></span>
  <h1 class="orgs-text">See the <a href="/community/" class="inline-link">community</a> making history on GitHub.</h1>
  <div id="the-orgs">
  {% for type_hash in site.organizations %}
    <div class="type-block"><p>{{type_hash[0]}}</p></div>
      {% for org in type_hash[1] %}
        <div class="organization">
          <a href="http://github.com/{{ org }}" title="{{ org }}">
            <img class="avatar" src="https://github.com/{{ org }}.png" alt= "{{ org }}" target="_blank"/>
          </a>
        </div>
      {% endfor %}
  {% endfor %}
  </div>
</div>
  




