---
layout: home
title: GitHub and Government
description: Make government better, together. Stories of open source, open data, and open government.
org_count: 60
permalink: /
---

<div class="mini-section">
<div class="section container features">
  <div class="row">
    <div class="col-md-6 feature">
      <span class="mega-octicon octicon-terminal"></span>
      <h3>Upgrade your IT workflow</h3>
      <p><a href="http://git-scm.com/">Git</a> is an open-source version control system that tracks who made what change when across software projects.</p>
    </div>
    <div class="col-md-6 feature">
      <span class="mega-octicon octicon-organization"></span>
      <h3>Public engagement, private collaboration</h3>
      <p>Publish open source software on <a href="https://github.com">GitHub.com</a> or collaborate privately and securely behind your agency's firewall.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 feature">
      <span class="mega-octicon octicon-git-pull-request"></span>
      <h3>Communicate more, manage less</h3>
        <p>GitHub's issue tracking tools give you day-to-day visibility into your project's success, without the need for lengthy meetings.</p>
    </div>

    <div class="col-md-6 feature">
      <span class="mega-octicon octicon-lock"></span>
      <h3>Enterprise controls, startup speed</h3>
      <p>Collaborate openly while still limiting access to a team, to select stakeholders, or to an entire organization.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 feature">
      <span class="mega-octicon octicon-server"></span>
      <h3>In your datacenter or in the cloud</h3>
      <p>Run <a href="https://enterprise.github.com/">GitHub Enterprise</a> in your data center as a virtual appliance, on <a href="https://enterprise.github.com/aws/gov-cloud">AWS GovCloud</a> or <a href="https://enterprise.github.com/microsoft">Azure</a>, or let us host the code for you on <a href="https://github.com">GitHub.com</a>.</p>
    </div>
    <div class="col-md-6 feature">
      <span class="mega-octicon octicon-podium"></span>
      <h3>IT without the paperwork</h3>
      <p>GitHub.com's <a href="https://help.github.com/articles/amendment-to-github-terms-of-service-applicable-to-government-users">terms of service</a> are approved for government use by the <abbr title="General Services Administration">GSA</abbr>, and <a href="https://github.com/pricing">most plans</a> fall below the micro-purchase threshold.</p>
    </div>


  </div>
  <p><a href="https://github.com/features">Learn more about GitHub &rarr;</a></p>
</div>
</div>

<div class="mini-section more-than">
  <div class="container">
    <h1 id="more-than-just-code">More than just code.</h1>
    <h3 class="lead-graf">Agencies use GitHub to engage developers and collaborate with the public on open source, open data and open government efforts. GitHub even renders common formats like <a href="https://github.com/blog/1784-rendered-prose-diffs" target="_blank">text</a>, <a href="https://help.github.com/articles/rendering-csv-and-tsv-data" target="_blank">CSV</a>, and <a href="https://help.github.com/articles/mapping-geojson-files-on-github" target="_blank">geospatial data</a>.</h3>

    <div class="row section source-data-code">
      <div class="col-md-4 animate-out">
        <h3>Open Source</h3>
        <p><a href="https://github.com/showcases/government" target="_blank">
          <img src="assets/img/open-source.png" alt="Pull request launching gov.uk"/></a>
        </p>
        <small>The UK Government launches its new site with a pull request.</small>
      </div>

      <div class="col-md-4 animate-out">
        <h3>Open Data</h3>
        <p><a href="https://github.com/showcases/open-data" target="_blank">
          <img src="assets/img/open-data.png" alt="GeoJSON diff of Illinois 4th Congressional District"/></a>
        </p>
        <small>The City of Chicago release geographic city data.</small>
      </div>

      <div class="col-md-4 animate-out">
        <h3>Open Government</h3>
        <p><a href="https://github.com/showcases/policies" target="_blank">
          <img src="assets/img/open-gov.png" alt="Project Open Data"/></a>
        </p>
        <small>The US Government Open Data policy on GitHub.</small>
      </div>
    </div>

  </div>
  <p><a href="https://github.com/showcases">See more showcases &rarr;</a></p>
</div>


<div class="mini-section" style="overflow: hidden;">
  <div class="container">
    <h1 id="join-the-revolution">Join the Revolution.</h1>
    {% assign count = 0 %}
    {% for group in site.data.governments %}
      {% for org in group[1] %}
        {% assign count = count | plus:1 %}
      {% endfor %}
    {% endfor %}
    <h3 class="lead-graf">Join the <strong>{{ count }}+ government organizations</strong> around the world who collaborate on code, data, policy, and more. See the rest of the GitHub <a href="/community">government community</a>.</h3>
  </div>

<div class="full-screen featured-orgs">
  {% for org in site.featured_orgs %}
  <a href="https://github.com/{{ org }}" class="animate-in">{% avatar user=org size=80 %}</a>
  {% endfor %}
</div>
</div>

<div id="get-started" class="mini-section">
  <div class="container">
    <h1>Get started today.</h1>
    <h3 class="lead-graf">Create a free account and check out the resources for getting started with GitHub. Need something you can hand to someone? Download our <a href="/assets/img/govandgithub.pdf">government and GitHub</a> one pager.</h3>

<div class="row section">
  <div class="col-md-3">
    <h3>Signup for an account</h3>
    <p>If you don't already have one, <a href="https://github.com/signup/free" target="_blank">sign up</a> for an individual GitHub account that's specific to you.</p>
    <p>If you've already got a personal GitHub account, simply <a href="https://government-community.githubapp.com/">add and confirm</a> your government email.</p>
  </div>

  <div class="col-md-3">
    <h3>Create an organization</h3>
    <p>An organization is your official presence on GitHub. Once logged in, <a href="https://github.com/organizations/new">create a free organization</a>. You can always upgrade later.</p>
    <p>Prefer to host your own GitHub instance? <a href="https://enterprise.github.com">Request a free trial</a> to get started.
  </div>

  <div class="col-md-3">
    <h3>Join the Peer Group</h3>
    <p>There's a <a href="https://government-community.githubapp.com/">semi-private group</a> of government employees using GitHub to share best practices for software collaboration within government.</p>
    <p>If the government email associated with your account is verified, you should <a href="https://government-community.githubapp.com/">have access</a>.
  </div>

  <div class="col-md-3">
    <h3>Get Help</h3>
    <p> Interested in Training? We have a team at GitHub specifically for that. Contact <a href="mailto:training@github.com">training@github.com</a> to start the discussion today!
    <p> Learn more at <a href="https://training.github.com/">training.github.com</a> </p>
  </div>
</div>

</div>
</div>


<div id="contact-a-human" class="full-width human">
  <div class="container mini-section">
    <span class="mega-octicon octicon-person"></span>
    <h3>Talk to a human</h3>
    <p>Questions? <a href="https://government-community.githubapp.com/government/best-practices/issues">Post a question</a> in the government commmunity to get feedback directly from other GitHub users in government, or email <a href="mailto:government@github.com">government@github.com</a> to talk to GitHub's government team.</p>
  </div>
</div>
