---
layout: home
title: GitHub and Government
description: Make government better, together. Stories of open source, open data, and open government.
org_count: 60
permalink: /
---

<section class="container-lg p-responsive py-5 py-md-6 my-lg-6">
  <div class="clearfix gutter-spacious">
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon terminal height:28 class:"fill-blue d-inline mr-2" aria-label:terminal %}
        Collaborate on code
      </h2>
      <p class="text-gray">Code collaboration and review are built into the development process with GitHub. Share work, discuss changes, and get feedback in one place to write quality code.</p>
    </div>
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon server height:28 class:"fill-blue d-inline mr-2" aria-label:server %}
        On your servers or in the cloud
      </h2>
      <p class="text-gray">Run GitHub Enterprise on your servers as a virtual appliance, on AWS GovCloud or Azure, or let us host the code for you on GitHub.com, whatever your security requires.</p>
    </div>
  </div>

  <div class="clearfix gutter-spacious">
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon beaker height:28 class:"fill-blue d-inline mr-2" aria-label:beaker %}
        Foster innovation at your agency
      </h2>
      <p class="text-gray">GitHub enables you to easily accept, continuously test, and rapidly deploy new ideas to build better software, faster.</p>
    </div>
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon tools height:28 class:"fill-blue d-inline mr-2" aria-label:tools %}
        Software built your way
      </h2>
      <p class="text-gray">Integrate third party tools, from project management to continuous integration, to build software in the way that works best for your agency.</p>
    </div>
  </div>

  <div class="clearfix gutter-spacious">
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon code height:28 class:"fill-blue d-inline mr-2" aria-label:code %}
        InnerSource inside your agency
      </h2>
      <p class="text-gray">Build your agency’s software the way open source maintainers build theirs. Transparency and code reuse can help your team build better code.</p>
    </div>
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon lock height:28 class:"fill-blue d-inline mr-2" aria-label:lock %}
        Enterprise controls that agencies need
      </h2>
      <p class="text-gray">Encourage teams to work together while providing essential controls for employees and contractors alike using organizations and LDAP or CAS.</p>
    </div>
  </div>

  <div class="clearfix gutter-spacious">
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon globe height:28 class:"fill-blue d-inline mr-2" aria-label:globe %}
        Public engagement, developer community
      </h2>
      <p class="text-gray">Engage with 17 million developers using GitHub. Publish open source software on GitHub.com. Onboard, train, and recruit developers with ease.</p>
    </div>
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon checklist height:28 class:"fill-blue d-inline mr-2" aria-label:checklist %}
        Skip the paperwork
      </h2>
      <p class="text-gray">GitHub.com's terms of service are approved by the GSA and most plans fall below the micro-purchase threshold. Purchase GitHub Enterprise with major government acquisition schedules.</p>
    </div>
  </div>

  <p class="text-center">
    <a href="https://github.com/features" class="btn btn-outline">Learn more about GitHub &rarr;</a>
  </p>
</section>


<section class="bg-gray-light">
  <div class="container-lg p-responsive py-5 py-md-6 ">

    <h2 class="alt-h2 text-center mb-3 mt-lg-6" id="more-than-just-code">More than just code</h2>
    <p class="alt-lead text-gray text-center col-md-10 mx-auto">Agencies use GitHub to engage developers and collaborate with the public on open source, open data and open government efforts. GitHub even renders common formats like <a href="https://github.com/blog/1784-rendered-prose-diffs">text</a>, <a href="https://help.github.com/articles/rendering-csv-and-tsv-data">CSV</a>, PDF, <a href="https://help.github.com/articles/mapping-geojson-files-on-github">geospatial data</a> and Jupyter Notebooks.</p>

    <div class="my-4 my-lg-6 clearfix gutter-spacious">
      <div class="col-md-4 float-left animate-out mb-4">
        <h3 class="alt-h3 mb-3">Open Source</h3>
        <p><a href="https://github.com/showcases/government" target="_blank">
          <img src="assets/img/open-source.png" class="img-border" alt="Pull request launching gov.uk"/></a>
        </p>
        <small>The UK Government launched GOV.UK with a pull request</small>
      </div>
      <div class="col-md-4 float-left animate-out mb-4">
        <h3 class="alt-h3 mb-3">Open Data</h3>
        <p><a href="https://github.com/showcases/open-data" target="_blank">
          <img src="assets/img/open-data.png" class="img-border" alt="GeoJSON diff of Illinois 4th Congressional District"/></a>
        </p>
        <small>CFPB builds data visualizations and analysis tools with GitHub</small>
      </div>
      <div class="col-md-4 float-left animate-out mb-4">
        <h3 class="alt-h3 mb-3">Open Government</h3>
        <p><a href="https://github.com/showcases/policies" target="_blank">
          <img src="assets/img/open-gov.png" class="img-border" alt="Project Open Data"/></a>
        </p>
        <small>Find the US government’s open source projects at <a href="https://code.gov/">Code.gov</a></small>
      </div>
    </div>

    <p class="text-center">
      <a href="https://github.com/showcases" class="btn btn-outline">See more showcases &rarr;</a>
    </p>

  </div>
</section>

<section class="">
  <div class="container-lg p-responsive py-5 py-md-6 ">
    <h2 class="alt-h2 text-center mb-3 mt-lg-6" id="join-the-revolution">Join the Revolution</h2>
    <p class="alt-lead text-gray text-center col-md-10 mx-auto">Join the thousands of government organizations around the world who collaborate on code, data, policy, and more. See the rest of the <a href="/community">GitHub government community</a>.</p>
  </div>
  <div style="overflow: hidden;">
    {% assign count = 0 %}
    {% for group in site.data.governments %}
      {% for org in group[1] %}
        {% assign count = count | plus:1 %}
      {% endfor %}
    {% endfor %}
    <div class="featured-orgs text-center p-2">
      {% for org in site.featured_orgs %}
      <a href="https://github.com/{{ org }}" class="animate-in">{% avatar user=org size=80 %}</a>
      {% endfor %}
    </div>
  </div>

<div class="full-screen featured-orgs">
  {% for org in site.featured_orgs %}
  <a href="https://github.com/{{ org }}" class="animate-in">{% avatar user=org size=80 %}</a>
  {% endfor %}
</div>

<section id="get-started" class="mini-section mt-6">
  <div class="container-lg p-responsive">
    <h2 class="alt-h2 text-center mb-3 mt-lg-6">Get started today</h2>
    <p class="alt-lead text-gray text-center col-md-10 mx-auto">Create a free account to get started with GitHub. <a href="mailto:government@github.com">Contact us</a> to learn more about hosting your own GitHub instance.</p>

    <div class="mt-md-6 clearfix gutter-spacious">
      <div class="mb-4 col-md-6 float-left">
        <h3 class="alt-h3 mb-2">Sign up for an account</h3>
        <p class="text-gray"><a href="https://github.com/signup/free" target="_blank">Sign up</a> for an individual GitHub account for free.</p>
        <p class="text-gray">If you have a personal GitHub account, simply <a href="https://government-community.githubapp.com/">add and confirm</a> your government email.</p>
      </div>
      <div class="mb-4 col-md-6 float-left">
        <h3 class="alt-h3 mb-2">Create an organization</h3>
        <p class="text-gray">An organization is your official presence on GitHub. <a href="https://github.com/organizations/new">Create a free organization</a> after you log in. Open source projects stay free.</p>
        <p class="text-gray">Prefer to host your own GitHub instance? <a href="mailto:government@github.com">Contact us</a> or <a href="https://enterprise.github.com">request a free trial</a> to get started.
      </div>
    </div>
    <div class="mb-md-6 clearfix gutter-spacious">
      <div class="mb-4 col-md-6 float-left">
        <h3 class="alt-h3 mb-2">Join the Peer Group</h3>
        <p class="text-gray">Join the <a href="https://government-community.githubapp.com/">semi-private group</a> of government employees using GitHub to share best practices for software collaboration.</p>
        <p class="text-gray">You will have access once the government email associated with your account is verified.
      </div>
      <div class="mb-4 col-md-6 float-left">
        <h3 class="alt-h3 mb-2">Learn More</h3>
        <p class="text-gray">Browse GitHub training resources at <a href="http://training.github.com">training.github.com</a>.</p>
        <p class="text-gray">Contact <a href="mailto:training@github.com">training@github.com</a> to bring GitHub training to your team.</p>
      </div>
    </div>
  </div>
</section>


<section id="contact-a-human" class="bg-gray-light">
  <div class="container-lg p-responsive py-5 py-md-6 text-center">
    <span class="text-center">
      {% octicon person height:42 class:"d-block mx-auto mb-4 text-center fill-gray" aria-label:person %}
    </span>
    <h3 class="alt-h2 mb-4">Talk to a human</h3>
    <p>Email <a href="mailto:government@github.com">government@github.com</a> to talk to GitHub's government team.</p>
    <p><a href="https://government-community.githubapp.com/">Post a question</a> in the government community to get feedback from other GitHub users in government.</p>
  </div>
</section>
