    <footer class="border-top">
      <div class="container-lg px-3 py-4 clearfix">
        <ul class="list-style-none float-right text-small">
          <li class="d-none d-lg-inline-block ml-lg-2"><a href="https://help.github.com/articles/github-glossary" target="_blank">Glossary</a></li>
          <li class="d-none d-lg-inline-block ml-lg-2"><a href="https://help.github.com/security">Security</a></li>
          <li class="d-inline-block ml-lg-2"><a href="mailto:government@github.com">Contact Us</a></li>
        </ul>

        <a href="/" class="text-center position-absolute left-0 right-0">
          {% octicon mark-github height:24 class:"fill-gray-light d-inline" aria-label:github-logo %}
        </a>

        <ul class="list-style-none float-left text-small">
          <li class="d-none d-lg-inline-block mr-lg-2">&copy; 2013 - {{ site.time | date: '%Y' }} <span>GitHub</span>, Inc. and contributors</li>
          <li class="d-inline-block mr-lg-2"><a href="https://github.com/">GitHub.com</a></li>
          <li class="d-none d-lg-inline-block mr-lg-2"><a href="https://github.com/about">About</a></li>
          <li class="d-none d-lg-inline-block mr-lg-2"><a href="https://github.com/features/">Features</a></li>
        </ul>
      </div>
    </footer>


    <script src="/assets/vendor/anchor-js/anchor.min.js"></script>
    <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script>anchors.add('.org-type h4');</script>
    {% if page.url == "/community/" %}
      <script src="/assets/js/community.js"></script>
    {% elsif page.url == "/" %}
      <script src="/assets/js/home.js"></script>
    {% endif %}
  </body>
</html>
<!-- Proudly powered by GitHub Pages ~ Generated {{ site.time }} -->
