    <footer>
      <div class="container-lg p-responsive py-4 ">
        <div class="d-flex flex-justify-between">
          <ul class="list-style-none float-right text-small">
            <li class="d-none d-lg-inline-block ml-lg-2"><a href="https://help.github.com/articles/github-glossary/" target="_blank">Glossary</a></li>
            <li class="d-none d-lg-inline-block ml-lg-2"><a href="https://help.github.com/articles/github-security/">Security</a></li>
            <li class="d-inline-block ml-lg-2"><a href="mailto:government@github.com">Contact Us</a></li>
          </ul>

          <a href="/" class="text-center">
            <span class="sr-only">Back to Home</span>
            {% octicon mark-github height:24 class:"fill-gray-light d-inline" aria-label:github-logo %}
          </a>

          <ul class="list-style-none float-left text-small">
            <li class="d-inline-block mr-lg-2"><a href="https://github.com/">GitHub.com</a></li>
            <li class="d-none d-lg-inline-block mr-lg-2"><a href="https://github.com/about">About</a></li>
            <li class="d-none d-lg-inline-block mr-lg-2"><a href="https://github.com/features/">Features</a></li>
          </ul>
        </div>

        <p class="border-top text-center f5 mt-4 pt-4">&copy; 2013 - {{ site.time | date: '%Y' }} <span>GitHub</span>, Inc. and contributors</p>
      </div>

    </footer>


    <script src="{{ "/assets/vendor/anchor-js/anchor.min.js" | relative_url}}"></script>
    <script src="{{ "/assets/vendor/jquery/dist/jquery.min.js" | relative_url}}"></script>
    <script>anchors.add('.org-type h4');</script>
    {% if page.url == "/community/" %}
      <script src="{{ "/assets/js/community.js" | relative_url}}"></script>
    {% elsif page.url == "/" %}
      <script src="{{ "/assets/js/home.js" | relative_url}}"></script>
    {% endif %}
  </body>
</html>
<!-- Proudly powered by GitHub Pages ~ Generated {{ site.time }} -->
