    <footer class="container">
      <div class="site-footer clearfix">
        <ul class="site-footer-links right no-style-list">
          <li class="no-mobile"><a href="https://help.github.com/articles/github-glossary" target="_blank">Glossary</a></li>
          <li class="no-mobile"><a href="https://help.github.com/security">Security</a></li>
          <li><a href="mailto:government@github.com">Contact Us</a></li>
        </ul>

        <a href="/">
          <span class="mega-octicon octicon-mark-github"></span>
        </a>

        <ul class="site-footer-links no-style-list">
          <li class="no-mobile">&copy; 2013 - {{ site.time | date: '%Y' }} <span>GitHub</span>, Inc. and contributors</li>
          <li><a href="https://github.com/">GitHub.com</a></li>
          <li class="no-mobile"><a href="https://github.com/about">About</a></li>
          <li class="no-mobile"><a href="https://github.com/features/">Features</a></li>
        </ul>
      </div>
    </footer>
    <script src="/assets/vendor/anchor-js/anchor.min.js"></script>
    <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script>anchors.add('.org-type h4');</script>
    {% if page.url == "/community/" %}
      <script src="/assets/js/community.js"></script>
    {% elsif page.url == "/" %}
      <script src="/assets/js/home.js"></script>
    {% endif %}
  </body>
</html>
<!-- Proudly powered by GitHub Pages ~ Generated {{ site.time }} -->
