<form id="eloquaForm" name="fedramp_form" method="post" action="https://s{{ page.form-id }}.t.eloqua.com/e/f2">
  <input value="fedramp_form" type="hidden" name="elqFormName">
  <input value="{{ page.form-id }}" type="hidden" name="elqSiteId">
  <input name="elqCampaignId" type="hidden">

  <div class="mb-3">
    <label for="field0" class="d-inline-block mb-1">
      Full name
    </label>
    <input id="field0" name="fullName1" type="text" class="form-control form-control-lg input-block" placeholder="First and last name" required>
    <span class="form-control-invalid-text">Your full name is required.</span>
  </div>

  <div class="mb-3">
    <label for="field1" class="d-inline-block mb-1">
      Email address
    </label>
    <input id="field1" name="emailAddress" type="email" class="form-control form-control-lg input-block" placeholder="you@example.com" required>
    <span class="form-control-invalid-text">A valid email address is required.</span>
  </div>

  <div class="mb-3">
    <label for="field2" class="d-inline-block mb-1">
      Company/Agency
    </label>
    <input id="field2" name="company" type="text" class="form-control form-control-lg input-block" placeholder="Acme, Inc" required>
    <span class="form-control-invalid-text">A valid company name is required.</span>
  </div>

  <div class="mb-3">
    <label for="field5" class="d-inline-block mb-1">
      What can we help you with?
    </label>
    <textarea id="field5" name="contactComments" type="text" class="form-control form-control-lg input-block" rows="4" placeholder="Tell us how we can help. For support questions, head to github.com/contact" maxlength="1000" required></textarea>
    <span class="form-control-invalid-text">A valid comment is required.</span>
  </div>

  <input id="country" type="hidden" name="country" value="">
  <input id="subdivision" type="hidden" name="subdivision" value="">
  <input id="city" type="hidden" name="city" value="">
  <input type="hidden" name="elqCustomerGUID" value="">
  <input type="hidden" name="elqCookieWrite" value="0">
  <input id="sfcampaignid" type="hidden" name="sfcampaignid" value="{{ page.sf-campaign-id }}">
  <input id="source" type="hidden" name="source" value="{{ page.campaign }}">

  <button type="submit" class="btn btn-primary btn-large f4">Submit</button>
</form>
