<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/icons.css">
  <script src="/assets/js/jquery.min.js"></script>
  <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
  <![endif]-->
  {% include analytics.html %}
</head>

<body{% if page.id %} id="{{ page.id }}"{% endif %} class="{{ page.layout }}">
  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="full-width olives">
    <div class="navbar">
        <div class="container">
            <a href="/"><img class="logo" src="/assets/img/logomark.png" alt="GitHub and Government" height="269" width="23"></a>
            <ul>
              <li><a href="/community/">Who's using GitHub</a></li>
              <li><a href="https://github.com/government/welcome#readme">Peer Group</a></li>
              <li><a href="/#contact-a-human">Contact</a></li>
            </ul>
        </div>
    </div>
    <!-- .full-width here gets closed on support-page.html and home.html layouts -->
