<div class="mini-section">
  {% unless include.id == "governments" %}
    <h3 id="{{ include.id }}" class="search-section">Return to <a href="#to-top">top</a>.</h3>
  {% endunless %}
  <h2>{{ include.name }}</h2>
  <h6 class="no-matches" style="display: none;">No matches.</h6>
  <table class="table">
    <tbody class="searchable">
      <tr class="table-header"><th>Avatar</th><th>Account</th><th>Affiliation</th></tr>
      {% for type_hash in include.orgs %}
      <tr class="type-block" id="{{ type_hash[0] | downcase | replace: ' ','_' }}">
        <td><h3>{{ type_hash[0] }} ({{ type_hash[1] | size }})</h3></td><td></td><td></td>
        </tr>
        {% for org in type_hash[1] %}
        <tr>
          <td>
            <a href="https://github.com/{{ org }}" title="{{ org }}">
            <img src="https://github.com/{{ org }}.png" width="40" height="40" alt="{{ org }}"></a>
          </td>
          <td>
            <p><a href="https://github.com/{{ org }}" title="{{ org }}">{{ org }}</a></p>
          </td>
          <td>
            <p class="dim-affiliation">{{ type_hash[0] }}</p>
          </td>
        </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>
