{% comment %}
This partial is included on the main page and displays a single post. 
Assign a post to the variable `post` to use.
{% endcomment %}

<article>
  <a href="{{ post.url }}">
  	<div class="homepage-image post-image {{ post.category }}" style="background: url('{{ post.image }}') center 10%"></div>
  </a>
  <h3><a class="title-link {{ post.category }}" href="{{ post.url }}">{{ post.title }}</a></h3>
  <div class="meta">Published {{ post.date | date: "%B %d, %Y"}}</div>
  <div class="description">{{ post.description }}</div>
</article>  