// HEADER

.page-header {
  width: 100%;
  background-color: #2D86FB;
  -webkit-transition: background-image 0.6s ease-in-out 0s;
  -moz-transition: background-image 0.6s ease-in-out 0s;
  -o-transition: background-image 0.6s ease-in-out 0s;
  transition: background-image 0.6s ease-in-out 0s;
  background-image: url('../img/olivebranch.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.logo {
  max-width: 280px;
}

.fill-blue {
  fill: $blue;
}

.example-img {
  border: 5px solid $white;
  max-width: 100%;
}


.featured-orgs {
  margin-right: -55px;
  margin-left: -55px;
  padding-top: 30px;
  max-height: 345px;
  overflow: hidden;
  text-align-center;
}
