---
---

@import "primer-core/index.scss";
@import "primer-marketing/index.scss";
@import "custom";



/* Supporting page */
/* -------------------------------------------------------------------------- */


.type-block + tr td {
  border-color: #fff;
}

.type-block td {
  background-color: #fafafa;
  border-color: #fff;
}

.table {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

.table-header th {
  border-bottom: 1px solid #ddd;
  font-weight: 300;
  vertical-align: middle !important;
}

.table td, .table th {
  vertical-align: middle;
}

.table td p {
  margin: 0;
}




/* VPAT */
/* -------------------------------------------------------------------------- */

table.accessibility tr th { text-align: center; vertical-align: middle; }
table.accessibility tr td.criterion { width: 40%; font-size: 13px; }
table.accessibility tr td.support { font-weight: 700; width: 15%; vertical-align: middle; text-align: center; }
table.accessibility tr td.supports { color: #6CC644;  }
table.accessibility tr td.not-applicable { color: #999; }
table.accessibility tr td.supports-with-exceptions { color: #f93; }
table.accessibility tr td.does-not-support { color: #BD2C00; }
table.accessibility tr td.comments { width: 45%; vertical-align: middle; font-size: 13px; }
