---
layout: nil
---

{% include vendor/bootstrap/docs/assets/css/bootstrap.css %}
{% include vendor/bootstrap/docs/assets/css/bootstrap-responsive.css %}

li img {
  margin: 10px 0;
  padding: 1px;
  background-color: #fff;
  border: 1px solid #ddd;
  max-width: 660px;
}

/* begin overriding */

body {
  font: 300 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  max-width: 995px;
}

/* headings */

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

h1 {
  font-size: 42px;
  font-weight: 300;
  margin: 20px 0;
  line-height: 66px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
}

h4 {
  font-size: 13px;
}

h6 {
  font-size: 13px;
  font-weight: normal;
}

/* link styles */

a {
  text-decoration: none;
  color: #2D86FB;
}

a:hover {
  color: #2D86FB;
}

/* other text styles */

p, ul, ol {
  font-weight: normal;
}

li {
  padding: 4px 0;
  text-align: left;
}

.no-style-list {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

/* Header and Navigation */
/* -------------------------------------------------------------------------- */

.full-width {
  width: 100%;
  background-color: #2D86FB;
  -webkit-transition: background-image 0.6s ease-in-out 0s;
  -moz-transition: background-image 0.6s ease-in-out 0s;
  -o-transition: background-image 0.6s ease-in-out 0s;
  transition: background-image 0.6s ease-in-out 0s;
}

.full-width.olives {
  background-image: url('../img/olivebranch.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.logo {
  width: 269px;
  height: 23px;
}

.navbar {
  padding-bottom: 10px;
  padding-top: 40px;
  text-align: center;
  margin-bottom: 0;
}

.navbar ul {
  margin-bottom: 20px;
  margin-left: 0;
  margin-top: 20px;
  list-style: none;
}

.navbar ul li {
  display: inline;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  margin: 0 8px;
}

.navbar ul li a {
  color: #fff;
  font-weight: bold;
}

/* Splash */
/* -------------------------------------------------------------------------- */

.splash {
  padding-top: 30px;
  padding-bottom: 80px;
  text-align: center;
}

.splash h1 {
  font-size: 45px;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  color: #fff;
  border: none;
  padding: 0;
  margin: 0;
  font-weight: 300;
}

.splash h2 {
  font-weight: 300;
  font-size: 23px;
  color: #fff;
  padding: 0;
  margin: 0;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}

/* section */
/* -------------------------------------------------------------------------- */

.mini-section {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.more-than, .human {
  background: #F8F8F8;
}

.human .mini-section {
  width: 50%;
}

.source-data-code img {
  border: 5px solid #fff;
}

#get-started p {
  text-align: left;
}

/* footer */
/* -------------------------------------------------------------------------- */

.site-footer {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #777;
}

.support-page .site-footer {
  border-top: 1px solid #eee;
}

.site-footer .octicon-mark-github {
  position: absolute;
  top: 38px;
  left: 50%;
  height: 24px;
  width: 24px;
  margin-left: -12px;
  font-size: 24px;
  color: #ccc;
}

.site-footer .octicon-mark-github:hover {
  color: #bbb;
}

.site-footer-links {
  float: left;
  margin: 0;
}

.site-footer-links.right {
  float: right;
}

.site-footer-links li {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
}

.site-footer-links li + li {
  margin-left: 10px;
}

/* Features */
/* -------------------------------------------------------------------------- */

.features .feature {
  /*color: #fff;*/
  margin-bottom: 50px;
  text-align: center;
}

.features .feature h3 {
  /*color: #fff;*/
  font-weight: 700;
  /*text-align: left;*/
  font-size: 16px;
}

.features .feature .mega-octicon {
  color: #2D86FB;
}

.featured-orgs {
  margin-right: -55px;
  margin-left: -55px;
  padding-top: 30px;
  height: 345px;
  overflow: hidden;
}

.featured-orgs img {
  padding: 3px;
}

/* Supporting page */
/* -------------------------------------------------------------------------- */


.type-block + tr td {
  border-color: #fff;
}

.type-block td {
  background-color: #fafafa;
  border-color: #fff;
}

.table {
  width: 80%;
  margin: 0 auto;
}

.table-header th {
  border-bottom: 1px solid #ddd;
}

.table td, .table th {
  vertical-align: middle;
}

.table td p {
  margin: 0;
}

.dim-affiliation {
  color: #ccc;
  font-weight: 200;
}

#filter {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #2D86FB;
  box-shadow: none;
  padding-left: 0;
  padding-bottom: 0;
}

.search-section { padding-bottom: 20px; }

.count {
  color: #A3A3A3;
  font-weight: 200;
  font-size: 14px;
}

code {
  color: #333;
}

/* Animations */
/* -------------------------------------------------------------------------- */

.animate-in {
  -webkit-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.animate-out {
  -webkit-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
  -webkit-animation: scale-in 0.6s ease-in-out;
  animation: scale-in 0.6s ease-in-out;

}

@keyframes scale-in {
  0% {
    -webkit-transform: scale(.4);
    transform: scale(.4);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes scale-in {
  0% {-webkit-transform: scale(.4);}
  100% {-webkit-transform: scale(1);}
}

.pre-animate {
  opacity: 0;
  -webkit-transform: translateX(25px);
  transform: translateX(25px);
}

.pre-animate-out {
  opacity: 0;
  -webkit-transform: scale(.4);
  transform: scale(.4)
}

/* Browse Happy Prompt */
/* -------------------------------------------------------------------------- */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #333;
  padding: 0.2em 0;
}

/* Media Queries */
/* -------------------------------------------------------------------------- */

@media only screen and (min-width: 980px)  {
  .navbar .nav > li > a { text-decoration: none; margin-left: 25px; }
  .navbar .nav > li > a:focus { text-decoration: underline; }
  .navbar .nav > li > a:hover { color: #2D86FB; text-decoration: underline; }
}

@media only screen and (max-width: 979px)  {
  .no-mobile { display: none !important; }
}

@media only screen and (min-width: 650px) and (max-width: 767px) {
  body {padding: 0;}
  img { width: 100%; }
}

@media only screen and (min-width: 320px) and (max-width: 649px) {
  body {padding: 0;}
  h1, h2, h3 { line-height: 1.2em;}
  a { word-wrap: break-word;}
  .splash { padding-top: 20px; font-size: 80%;}
  .splash h1 {font-size: 237%;}
  .splash h2 {font-size: 200%;}
  .mini-section {padding: 20px;}
  .the-orgs { left: 0; }
  .source-data-code img {border: none;}
  .human .mini-section {width: 80%;}
  .full-width.olives {background-size: 19  0%;}
  .support-page .full-width.olives {background-size: 140%;}
}

/* VPAT */
/* -------------------------------------------------------------------------- */

table#accessibility tr th { text-align: center; vertical-align: middle; }
table#accessibility tr td.criterion {width: 40%; font-size: 13px;}
table#accessibility tr td.support { font-weight: bold; width: 15%; vertical-align: middle; text-align: center;}
table#accessibility tr td.supports { color: #6CC644;  }
table#accessibility tr td.not-applicable { color: #999; }
table#accessibility tr td.supports-with-exceptions { color: #f93; }
table#accessibility tr td.does-not-support { color: #BD2C00; }
table#accessibility tr td.comments { width: 45%; vertical-align: middle; font-size: 13px; }
