---
---

$octicons-font-path: "/assets/vendor/octicons/octicons";
@import "bootstrap/stylesheets/bootstrap";
@import "octicons";

li img {
  margin: 10px 0;
  padding: 1px;
  background-color: #fff;
  border: 1px solid #ddd;
  max-width: 660px;
}

/* begin overriding */

body {
  font: 400 16px/1.5 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  max-width: 995px;
  padding: 0;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

/* headings */

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

h1 {
  font-size: 54px;
  font-weight: 300;
  line-height: 1.1;
  letter-spacing: -.02em;
  margin-bottom: .5em;
}

h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.5;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0;
}

h6 {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
}

.lead-graf {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}

.micro {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

/* link styles */

a {
  text-decoration: none;
  color: #2D86FB;
}

a:hover {
  color: #2D86FB;
}

/* other text styles */

p, ul, ol {
  font-weight: 400;
}

li {
  padding: 4px 0;
  text-align: left;
}

.no-style-list {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

/* Header and Navigation */
/* -------------------------------------------------------------------------- */

.full-width {
  width: 100%;
  background-color: #2D86FB;
  -webkit-transition: background-image 0.6s ease-in-out 0s;
  -moz-transition: background-image 0.6s ease-in-out 0s;
  -o-transition: background-image 0.6s ease-in-out 0s;
  transition: background-image 0.6s ease-in-out 0s;
}

.full-width.olives {
  background-image: url('../img/olivebranch.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.navbar {
  padding-bottom: 10px;
  padding-top: 40px;
  text-align: center;
  margin-bottom: 0;
}

.navbar ul {
  margin-bottom: 20px;
  margin-left: -40px;
  margin-top: 20px;
  list-style: none;
}

.navbar ul li {
  display: inline;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  margin: 0 8px;
}

.navbar ul li a {
  color: #fff;
}

/* Splash */
/* -------------------------------------------------------------------------- */

.splash {
  padding-top: 30px;
  padding-bottom: 80px;
  text-align: center;
}

.splash h1 {
  font-size: 54px;
  /*text-shadow: 0 1px 1px rgba(0,0,0,0.2);*/
  color: #fff;
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: .5em;
}

.splash h2 {
  color: #fff;
  padding: 0;
  margin: 0;
  /*text-shadow: 0 1px 1px rgba(0,0,0,0.2);*/
  opacity: .65;
}

/* section */
/* -------------------------------------------------------------------------- */

.mini-section {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.section {
  padding: 60px 0;
}

.more-than, .human {
  background: #F8F8F8;
}

.human .mini-section {
  width: 50%;
}

.source-data-code img {
  border: 5px solid #fff;
  max-width: 100%;
}

#get-started h3 {
  font-size: 21px;
}

#get-started p {
  font-size: 15px;
  text-align: justify;
}

/* footer */
/* -------------------------------------------------------------------------- */

.site-footer {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #777;
}

.support-page .site-footer {
  border-top: 1px solid #eee;
}

.site-footer .octicon-mark-github {
  position: absolute;
  top: 38px;
  left: 50%;
  height: 24px;
  width: 24px;
  margin-left: -12px;
  font-size: 24px;
  color: #ccc;
}

.site-footer .octicon-mark-github:hover {
  color: #bbb;
}

.site-footer-links {
  float: left;
  margin: 0;
}

.site-footer-links.right {
  float: right;
}

.site-footer-links li {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
}

.site-footer-links li + li {
  margin-left: 10px;
}

/* as */
/* -------------------------------------------------------------------------- */

.features .feature {
  /*color: #fff;*/
  margin-bottom: 50px;
  text-align: left;
}

.features .feature h3 {
  /*color: #fff;
  font-weight: 700;
  text-align: left;
  font-size: 16px;*/
  font-weight: 400;
}

.features .feature .mega-octicon {
  float: left;
  margin-right: 8px;
  margin-top: 16px;
  color: #2D86FB;
}

.featured-orgs {
  margin-right: -55px;
  margin-left: -55px;
  padding-top: 30px;
  height: 345px;
  overflow: hidden;
}

.featured-orgs img {
  padding: 3px;
}

/* Supporting page */
/* -------------------------------------------------------------------------- */


.type-block + tr td {
  border-color: #fff;
}

.type-block td {
  background-color: #fafafa;
  border-color: #fff;
}

.table {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

.table-header th {
  border-bottom: 1px solid #ddd;
  font-weight: 300;
  vertical-align: middle !important;
}

.table td, .table th {
  vertical-align: middle;
}

.table td p {
  margin: 0;
}

.dim-affiliation {
  color: #ccc;
  font-weight: 200;
}

#filter {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #2D86FB;
  box-shadow: none;
  padding-left: 0;
  padding-bottom: 0;
}

.search-section { padding-bottom: 20px; }

.count {
  color: #A3A3A3;
  font-weight: 200;
  font-size: 14px;
}

code {
  color: #333;
}

.org-include .no-matches { display: none; }
.org-type .orgs { margin-top: 25px; margin-bottom: 25px; }
.org-row .org { padding: 15px; }
.org-row .org-name { margin-top: 10px; }

td h4 {
  margin: .5em 0;
}

/* Animations */
/* -------------------------------------------------------------------------- */

.animate-in {
  -webkit-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.animate-out {
  -webkit-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
  -webkit-animation: scale-in 0.6s ease-in-out;
  animation: scale-in 0.6s ease-in-out;

}

@keyframes scale-in {
  0% {
    -webkit-transform: scale(.4);
    transform: scale(.4);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes scale-in {
  0% {-webkit-transform: scale(.4);}
  100% {-webkit-transform: scale(1);}
}

.pre-animate {
  opacity: 0;
  -webkit-transform: translateX(25px);
  transform: translateX(25px);
}

.pre-animate-out {
  opacity: 0;
  -webkit-transform: scale(.4);
  transform: scale(.4)
}


/* Media Queries */
/* -------------------------------------------------------------------------- */

@media only screen and (min-width: 980px)  {
  .navbar .nav > li > a { text-decoration: none; margin-left: 25px; }
  .navbar .nav > li > a:focus { text-decoration: underline; }
  .navbar .nav > li > a:hover { color: #2D86FB; text-decoration: underline; }
}

@media only screen and (max-width: 979px)  {
  .no-mobile { display: none !important; }
}

@media only screen and (min-width: 650px) and (max-width: 767px) {
  body { padding: 0; }
  img { width: 100%; }
}

@media only screen and (min-width: 320px) and (max-width: 649px) {
  body { padding: 0; }
  h1, h2, h3 { line-height: 1.2em; }
  a { word-wrap: break-word; }
  .splash { padding-top: 20px; font-size: 80%; }
  .splash h1 { font-size: 237%; }
  .splash h2 {font-size: 200%; }
  .mini-section { padding: 20px; }
  .the-orgs { left: 0; }
  .source-data-code img { border: none; }
  .human .mini-section { width: 80%; }
  .full-width.olives { background-size: 190%; }
  .support-page .full-width.olives { background-size: 140%; }
}

/* VPAT */
/* -------------------------------------------------------------------------- */

table.accessibility tr th { text-align: center; vertical-align: middle; }
table.accessibility tr td.criterion { width: 40%; font-size: 13px; }
table.accessibility tr td.support { font-weight: 700; width: 15%; vertical-align: middle; text-align: center; }
table.accessibility tr td.supports { color: #6CC644;  }
table.accessibility tr td.not-applicable { color: #999; }
table.accessibility tr td.supports-with-exceptions { color: #f93; }
table.accessibility tr td.does-not-support { color: #BD2C00; }
table.accessibility tr td.comments { width: 45%; vertical-align: middle; font-size: 13px; }
