---
layout: nil
---

{% include vendor/bootstrap/docs/assets/css/bootstrap.css %}
{% include vendor/bootstrap/docs/assets/css/bootstrap-responsive.css %}

li img {
  margin: 10px 0;
  padding: 1px;
  background-color: #fff;
  border: 1px solid #ddd;
  max-width: 660px;
}

/* begin overriding */

body {
  font: 300 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  max-width: 980px;
}

/* headings */

h1, h2, h3, h4, h5, h6 {
  color: #000;
}

h1 {
  font-size: 200%;
  margin: 20px 0;
  line-height: 66px;
}

h1 {
  font-size: 400%;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
}

h4 {
  font-size: 13px;
}

h6 {
  font-size: 13px;
  font-weight: normal;
}

/* link styles */

a {
  text-decoration: none;
  color: #00c3f8;
}

a:hover {
  color: #00c3f8;
}

.thumbnail {
  border: none;
  box-shadow: none;
}

a.title-link { color: #333; }
a.title-link:hover { color: #00c3f8; }

h1 a.title-link:hover { border-bottom: 2px solid #00c3f8; }

.inline-link.open .data, a.open .data { border-color: #05d8af; color: #05d8af; }
.inline-link.open .government, a.open .government { border-color: #f42f71; color: #f42f71; }
.inline-link.open .source, a.open .source { border-color: #00acef; color: #00acef; }

.title-link.open .data, a.open .data { border-color: #05d8af; color: #05d8af; }
.title-link.open .government, a.open .government { border-color: #f42f71; color: #f42f71; }
.title-link.open .source, a.open .source { border-color: #00acef; color: #00acef; }

/* other text styles */

p, ul, ol {
  font-weight: normal;
}

li {
  padding: 4px 0;
}

.no-style-list {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

small {
  font-size: 11px;
  color: #acacac;
}

.open .data:not(.more-stories):not(.title-link) { color: #05d8af; }
.open .government:not(.more-stories):not(.title-link) { color: #f42f71; }
.open .source:not(.more-stories):not(.title-link) { color: #00acef; }

.data { color: #05d8af; }
.government { color: #f42f71; }
.source { color: #00acef; }

.subnav h5 {
  margin-top: 0;
}

.subnav ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* sections */

.mini-section {
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 0;
}

.section {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 0;
}

.full-width {
  width: 100%;
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}

/* Navigation */
.logo {
  width: 269px;
  height: 23px;
}

.navbar {
  padding-bottom: 10px;
  padding-top: 10px;
}

.navbar .nav > li > a {
  color: #333;
  font-size: 13px;
  font-weight: bold;
}

.navbar-inner {
  background: none;
  border: none;
}

.navbar-static-top .navbar-inner {
  box-shadow: none;
}


.splash {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

/* Stories Section */

.stories {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
}

.story-unit h2 { margin: 8px 0; }

.meta:not(.more-stories) {
  padding-bottom: 8px;
  font-weight: 500;
}

.meta {
  font-size: 12px;
  clear: both;
  margin: 0;
}

.meta li {
  float: left;
  color: #ccc;
  padding: 4px 25px 4px 0;
}

.meta a.open.data { color: #05d8af; font-weight: 500; }
.meta a.open.government { color: #f42f71; font-weight: 500; }
.meta a.open.source { color: #00acef; font-weight: 500; }

.one-story {
  padding-bottom: 6px;
}

.description {
  padding: 0 0 40px 0;
}

.story-header {
  text-transform: capitalize;
}

.description a:not(.read-more) { color: #333; }

.homepage-image {
  border-bottom: 3px solid;
  max-width: 770px;
  height: 150px;
  background-position: center;
  background-color: #eee;
  background-size: 250%;
}

a.open.data:hover { color: #05d8af; border-color: #05d8af; }
a.open.government:hover { color: #f42f71; border-color: #f42f71; }
a.open.source:hover { color: #00acef; border-color: #00acef; }

#join-the-revolution {
  color: #333;
}


/* footer */
/* ----------------------------------------------------------------------------------- */

.site-footer {
  position: relative;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #777;
  border-top: 1px solid #eee;
}

.site-footer .octicon-mark-github {
  position: absolute;
  top: 38px;
  left: 50%;
  height: 24px;
  width: 24px;
  margin-left: -12px;
  font-size: 24px;
  color: #ccc;
}

.site-footer .octicon-mark-github:hover {
  color: #bbb;
}

.site-footer-links {
  float: left;
  margin: 0;
}

.site-footer-links.right {
  float: right;
}

.site-footer-links li {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
}

.site-footer-links li + li {
  margin-left: 10px;
}

/* Organizations Section */

.table td {vertical-align: middle;}

.community-avatar {
  width: 45px;
}

#orgs {
  position: relative;
  height: 365px;
  overflow: hidden;
  margin-bottom: 18px;
}

.the-orgs {
  position: absolute;
  top: -30px;
  left: -60px;
  display: inline;
  z-index: 0;
}

.contribute {
  background-color: #fafafa;
  border: 1px solid #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.organization {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: left;
  padding: 5px 5px 5px 0;
  width: 80px;
}

.avatar {
  height: 80px;
  width: 80px;
}

.type-block {
  float: left;
  width: 80px;
  height: 80px;
  background-color: #00c3f8;
  vertical-align: middle;
  text-align: center;
  margin: 5px 5px 5px 0;
  color: #fff;
}

.type-block p {
  margin: 14px 7px;
}

.organization > a > img {
  vertical-align: middle;
}

/* Single Story Page */
/* ----------------------------------------------------------------------------------- */

.storypage-image {
  width: 100%;
  border-bottom: 4px solid;
  height: 300px;
  background-position: center;
}

/* Supporting page */
/* ----------------------------------------------------------------------------------- */

.support-page h2:not(:first-of-type) {
  margin: 28px 0 10px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  border-width: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#markdown-toc {
  padding-bottom: 30px;
}


/* archive page */
/* ----------------------------------------------------------------------------------- */

.category { margin-right: 8px; }

#Archive .meta, #Category-Archive .meta {
  padding-bottom: 0;
  font-weight: 300;
}

#Archive h5 {
  margin: 3px 0 10px 0;
}

/* Media Queries */
/* ----------------------------------------------------------------------------------- */

@media only screen and (min-width: 980px)  {
  .navbar .nav > li > a { text-decoration: none; margin-left: 25px; }
  .navbar .nav > li > a:focus { text-decoration: underline; }
  .navbar .nav > li > a:hover { color: #00c3f8; text-decoration: underline; }
}

@media only screen and (max-width: 979px)  {
  .no-mobile { display: none !important; }
}

@media only screen and (min-width: 650px) and (max-width: 767px) {
  img { width: 100%; }
}

@media only screen and (min-width: 320px) and (max-width: 649px) {
  a { word-wrap: break-word;}
  .full-width { background: none; }
  .splash { padding-top: 20px; }
  h1 { font-size: 300%; line-height: 1.2em; }
  .the-orgs { left: 0; }
}

/* VPAT */
/* ----------------------------------------------------------------------------------- */

table#accessibility tr th { text-align: center; vertical-align: middle; }
table#accessibility tr td.criterion {width: 40%; font-size: 13px;}
table#accessibility tr td.support { font-weight: bold; width: 15%; vertical-align: middle; text-align: center;}
table#accessibility tr td.supports { color: #6CC644;  }
table#accessibility tr td.not-applicable { color: #999; }
table#accessibility tr td.supports-with-exceptions { color: #f93; }
table#accessibility tr td.does-not-support { color: #BD2C00; }
table#accessibility tr td.comments { width: 45%; vertical-align: middle; font-size: 13px; }
