---
layout: nil
---

body {
  padding-top: 60px;
}

{% include css/bootstrap.min.css %}
{% include css/bootstrap-responsive.min.css %}

.type {
  clear: both;
  padding-bottom: 30px;
}
.organizations {
  margin: 0;
}
.organization {
  float: left;
  padding: 5px 5px 5px 0;
  width: 80px;
  list-style: none;
}
.avatar {
  height: 80px;
  width: 80px;
}
.meta {
  clear: both;
  list-style: none;
  margin: 0;
}
.meta li {
  float: left;
  color: #ccc;
  padding-right: 25px;
}

.community {
  margin: 50px 0px;
  float: left;
}

.type-block {
  float: left;
  width: 80px;
  height: 80px;
  background: #0990d3;
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
  margin: 5px 5px 5px 0;
  color: #fff;
}

.type-block p {
  padding: 20px 0px;
}

h3 {line-height: 2em;}

/* overriding */

body {font-weight: lighter;}

h1 {font-size: 50px; margin: 28px 0px 20px 0px;}
h3 {font-size: 26px; font-weight: normal;}
h6 {font-size: 17px; font-weight: normal;}

a {text-decoration: none; color: #333;}
a:hover {text-decoration: none; color: #00C3F8;}

p {font-family: Merriweather, Arial, sans-serif;}
p a {border-bottom: 1px solid #333;}
p a:hover, #about a:hover {border-bottom: 1px solid #00C3F8; color: #00C3F8;}

small {text-transform: uppercase; letter-spacing: .1em; font-size: 10px; color: #acacac;}

#top-nav {margin: 0px auto; padding: 10px 0px; position: fixed; top: 0px; right: 0px; left: 0px; background: #fff; border-bottom: 1px solid #F5FCFF; -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1); }
#top-nav ul {list-style: none; margin: 0px; padding: 0px; line-height: 1.9em;}
#top-nav li {display: inline; text-transform: none; font-size: 12px; padding-right: 20px; letter-spacing: .1em;}
#top-nav a {color: #acacac;}
#top-nav a:hover {color: #333;}
#top-nav .octicon-mark-github {
  float: left;
  width: 24px;
  height: 25px;
  font-size: 25px;
  padding-right: 20px;
}
#top-nav .logo-invertocat:hover {
  color: #4183c4;
  text-decoration: none;
}

.description {font-family: Merriweather;}

header {padding-bottom: 42px;}



#logo{
  display: block;
  background: url('/assets/img/gov-on-gh.png') no-repeat; 
  background-size: 503px 40px; 
  height: 40px;
  width: 503px;
  text-indent: -999px;
}

#content {
  margin-bottom: 40px;
  z-index: 1099;
}

.category {
  padding: 2px 7px;
  margin: 0px 0px 8px 0px;
  background: red;
  color: #fff;
  text-transform: none;
  font-weight: lighter;
  font-size: 11px;
  letter-spacing: .1em;
  float: left; /* meeeh */
}
.category:hover {
  background: #00C3F8;
}

.category.Open.Source { background: #f43bd2; }
.category.Open.Data { background: #0990d3; }
.category.Open.Government { background: #1ae80a; }

.story-unit {
  margin-bottom: 30px;
  padding: 0px;
}
.story-unit h2 { margin: 8px 0px; }
.meta {
  font-family: Merriweather, Baskerville, serif;
  margin: 8px 0px;
  font-size: 10px;
}
h6.more-story  { margin: 5px 0px 16px 0px; }
.border-left { border-left: 4px solid #333; padding-left: 10px; }
.border-left.Open.Source { border-color: #f43bd2; }
.border-left.Open.Data { border-color: #0990d3; }
.border-left.Open.Government { border-color: #1ae80a; }
.border-left:hover  { border-color: #00C3F8; }

#mobile-archive { display: none;}

#organizations-layer {
  position: relative;
  top: -400px;
  background: #ff00ff;
  z-index: 0;
}

#organizations, #call-to-action, #join-the-revolution {
  padding: 50px 0px;
}
#organizations {/* haven't decided yet */}
#organizations .span12 {
  margin-left: 0px;
}
.add-marg {
  margin-left: 20px;
}
.lrg-button {
  background: #12CC66;
  width: 100%;
  padding: 28px 0px;
  text-align: center;
}
.lrg-button:hover {
  background: #15A2F9;
}
#join-the-revolution h3 { line-height: 1.1em; }

/* temporary while i'm developing offline */
.story-unit.span8 img {
  width: 770px;
  height: 200px;
  background: #C2C2C2;
}
.story-unit.span4 img {
  width: 370px;
  height: 200px;
  background: #C2C2C2;
}
img.avatar {
  width: 80px;
  height: 80px;
  background: #C2C2C2;
}

.links { padding-top: 50px; }
.links .border-left {
  border-width: 8px;
  border-color: #12CC66;
  padding: 8px 0px 8px 20px;
  margin-bottom: 14px;
}
.links .border-left:hover  {
  border-color: #00C3F8;
  color: #00C3F8;
}

#about { 
  padding: 30px 0px;
  color: #acacac;
  /*background: #f4f4f4;*/
  border-top: 1px solid #eee;
}
#about a {
   color: #acacac;
   border-color: #acacac;
}


/* getting started */

.contact-us {
  margin-top: 30px;
  padding-bottom: 30px; /* this is acting weird, thus the margin & padding */
}
.contact-us .span8 {padding: 10px 0px;}

/* story page */

.story-page p {
  font-size: 15px;
  line-height: 1.5em;
  font-family: Merriweather;
}
.story-img {
  width: 770px;
  height: 300px;
  background: #C2C2C2;
}

/* archive page */

.category {margin-right: 8px;}
h6 a {line-height: 1.5em;}



/* footer */

footer a {
  color: #4183c4;
  text-decoration: none;
}
footer a:focus, footer a:active {
  color: #4183c4;
  text-decoration: underline;
}
footer a:active, footer a:hover {
  outline: 0;
  color: #4183c4;
  text-decoration: underline;
}
.site-footer {
  position: relative;
  margin-top: 40px;
  /*padding: 40px 65px;*/  
  padding-top: 40px;
  padding-bottom: 40px;
  /*font-size: 12px;*/
  line-height: 1.5;
  color: #777;
  font: 12px Helvetica, arial, freesans, clean, sans-serif;
  border-top: 1px solid #eee; 
}
.site-footer:before, .site-footer:after {
  content: " ";
  display: table; 
}
.site-footer:after {
  clear: both; 
  }

footer .site-footer .octicon-mark-github {
  position: absolute;
  top: 38px;
  left: 50%;
  height: 24px;
  width: 24px;
  margin-left: -12px;
  font-size: 24px;
  color: #ccc; 
}
footer .site-footer .octicon-mark-github:hover {
  color: #bbb; 
}
.site-footer-links {
  float: left;
  margin: 0;
  list-style: none; 
}
.site-footer-links.right {
  float: right; 
}
.site-footer-links li {
  display: inline-block;
  line-height: 16px; 
}
.site-footer-links li + li {
  margin-left: 10px; 
}
.site-footer-links img {
  display: block; 
}

@media (max-width: 767px) {
  body { padding-top: 50px; }
  .container { padding: 0px 20px; }
  .story-unit.span4 img {width: 100%;}
  /* swap More Stories for Archive link */
  #more-stories { display: none ; }
  #archive-link { display: inherit; }
  .site-footer-links, .site-footer-links.right {float: left; padding-left: 30px; padding-bottom: 8px;}
  .site-footer .octicon-mark-github {float: left; left: 0px; top: 46px;}
}

.feature-header { text-align: center; }
.feature-header h3 { color: #999; }
.features h3 { font-weight: bold; line-height: 1em; text-align: center;}
.features .icon { text-align: center; border: 1px solid #999; border-radius: 50px; width: 100px; margin-left: auto; margin-right: auto; height: 100px; color: #4183c4;}
.features .mega-octicon {display: block; font-size: 50px !important; margin-top: 25px;}
