---
layout: nil
---

body {
  padding-top: 60px;
}

{% include css/bootstrap.min.css %}
{% include css/bootstrap-responsive.min.css %}

.type {
  clear: both;
  padding-bottom: 30px;
}
.organizations {
  margin: 0;
}
.organization {
  float: left;
  padding: 5px 5px 5px 0;
  width: 80px;
  list-style: none;
}
.avatar {
  height: 80px;
  width: 80px;
}
.meta {
  clear: both;
  list-style: none;
  margin: 0;
}
.meta li {
  float: left;
  color: #ccc;
  padding-right: 25px;
}

.type-block {
  float: left;
  width: 80px;
  height: 80px;
  background: #00C3F8;
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
  margin: 5px 5px 5px 0;
  color: #fff;
}

.type-block p {
  margin: 14px 7px;
}

/* begin overriding */

body {font-weight: 300; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}

/* headings */

h1 {
  font-size: 200%; 
  margin: 20px 0px; 
  line-height: 66px;
}

h1 {
  font-size: 400%; 
  font-weight: normal;
}

h2 {font-weight: 300;}

h3 {
  font-size: 26px;
  font-weight: bold; 
  line-height: 30px; 
}

h4 {
  font-size: 26px; 
  font-weight: normal; 
  line-height: 30px;
}

h6 {
  font-size: 17px; 
  font-weight: normal; 
  margin: 0 0 8px 0; 
  line-height: 20px;
}

h1, h3, h6 {font-family: Roboto Slab;}

/* link styles */

footer a {
  text-decoration: none; 
  color: #15a2f9; 
}

footer a:hover {
  text-decoration: none;
  border: none; 
  color: #00C3F8;
}

a {color: #00C3F8;}

a:hover {
  text-decoration: none; 
  color: #00C3F8;
  border: none;
}

a img {
  border: 0 none;
}

a.inline-link {
  text-decoration: none; 
  color: #00C3F8; 
}

a.inline-link:hover {
  border-bottom: 1px solid #00C3F8;
}

h1 a.inline-link:hover {
  border-bottom: 2px solid #00C3F8;
}

ul li a:hover, ol li a:hover, a.inline-link:hover {
  text-decoration: none; 
  border-bottom: 1px solid #00C3F8;
}

a.title-link {
  text-decoration: none; 
  color: #333;
}

a.title-link:hover {
  text-decoration: none; 
  color: #00C3F8; 
}

h1 a.title-link:hover {border-bottom: 2px solid #00C3F8;}

p a {
  color: #00C3F8; 
  text-decoration: none;
}

p a:hover, #about a:hover {
  opacity: .75; 
  text-decoration: none; 
  border-bottom: 1px solid #00c3f8;
}

a.glossary {
  border-bottom: 1px dotted #acacac; 
  color: #333; 
  font-weight: 300;
}

a.glossary::after {content: "Ë˜";}

.inline-link.open.data, a.open.data {border-color: #05d8af; color: #05d8af;}
.inline-link.open.government, a.open.government {border-color: #f42f71; color: #f42f71;}
.inline-link.open.source, a.open.source {border-color: #00acef; color: #00acef;}

.title-link.open.data, a.open.data {border-color: #05d8af; color: #05d8af;}
.title-link.open.government, a.open.government {border-color: #f42f71; color: #f42f71;}
.title-link.open.source, a.open.source {border-color: #00acef; color: #00acef;}

/* other text styles */

p, ul, ol {
  font-size: 16px;
  line-height: 1.6em;
}

small {
  letter-spacing: .1em; 
  font-size: 10px; 
  color: #acacac;
}

.Open.Data:not(.more-stories, .title-link) {color: #05d8af;}
.Open.Government:not(.more-stories, .title-link) {color: #f42f71;}
.Open.Source:not(.more-stories, .title-link) {color: #00acef;}

.Data {color: #05d8af;}
.Government {color: #f42f71;}
.Source {color: #00acef;}

.fleft {float: left;}
.fright {float: right;}
.aleft {position: absolute; left: 135px;}
.aright {position: absolute; right: 100px;}

ul.subnav {list-style: none; background: #eee; display: inline-block; padding: 14px;}

/* sections */

#join-the-revolution ol, #join-the-revolution ul {line-height: 25px;}
#join-the-revolution ol li, #join-the-revolution ul li {padding: 4px; font-size: 16px;}

.mini-section { 
  margin-top: 18px; 
  margin-bottom: 18px; 
  padding: 0px;
}

.section { 
  margin-top: 60px; 
  margin-bottom: 60px; 
  padding: 0px;
}

.mega-section {
  margin-top: 140px; 
  margin-bottom: 140px;
}

.full-width {
  width: 100%;
  background: #eee;);
}

/*.section:first-child { margin: 0px 0px 50px 0px; padding: 0px; }*/

/* Navigation */

#top-nav { 
  z-index: 12; 
  margin: 0px auto; 
  padding: 22px 0px; 
  position: absolute; 
  top: 0px; 
  right: 0px; 
  left: 0px; 
  background: #fff;
}

#top-nav ul { 
  list-style: none; 
  margin: 0px; 
  padding: 0px; 
  line-height: 1.9em;
  display: inline-block;
}

#top-nav li { 
  display: inline; 
}

#top-nav a {
padding: 5px;
font-size: 13px;
font-weight: bold;
color: #333333;
transition: all 0.1s ease-in;
-webkit-transition: all 0.1s ease-in 0;
border: none;
text-shadow: 0 1px 0 #fff;
}

#top-nav a:hover {
  color: #00C3F8; 
  text-decoration: none;
}

.octicon-mark-github:before {
  content: '\f00a';
  }

.mega-octicon {
font: normal normal 32px octicons;
line-height: 1;
display: inline-block;
text-decoration: none;
-webkit-font-smoothing: antialiased;
}

.logo-invertocat:hover {
  color: blue;
}

#top-nav .octicon-mark-github {
  float: left;
  width: 24px;
  height: 25px;
  font-size: 25px;
}
 
header {
  padding: 70px 0px;
  color: #333;
  margin: 0px 0px 30px 0px;
}

#home-header-nav {
  list-style: none; padding: 50px 0px;
}

#home-header-nav li {
  padding: 10px 12px;
  margin: 6px 0px;
  background: #eee;
  font-size: 22px;
  font-weight: 500;
}

/* Stories Section */

.stories {
  margin-top: 20px;
}

.story-unit {
  margin-bottom: 30px;
  padding: 0px;
}

.story-unit h2 { margin: 8px 0px; }
.meta:not(.more-stories) { 
  padding-bottom: 8px;
  font-weight: 500;
}

.meta {
  font-size: 12px;
}

.meta a.Open.Data { color: #05d8af; font-weight: bold; }
.meta a.Open.Government { color: #f42f71; font-weight: bold;}
.meta a.Open.Source { color: #00acef; font-weight: bold;}

.one-story {
  padding-bottom: 6px;
}

.homepage-image {
  max-width: 770px;
  height: 300px;
  background-color: #eee;
}

.middle-nav {
  font-weight: bold;
}

.post-image::before {
  position: relative;
  content: "";
  width: 0;
  height: 0;
  border-top: 50px solid red;
  border-right: 50px solid transparent;
  top: 49px;
}

.post-image.Open.Data:before {border-top-color: #05d8af;}
.post-image.Open.Government:before {border-top-color: #f42f71;}
.post-image.Open.Source:before {border-top-color: #00acef;}

/*
#more-stories a.Open.Data:hover {color: #05d8af;}
#more-stories a.Open.Government:hover {color: #f42f71;}
#more-stories a.Open.Source:hover {color: #00acef;}
*/

a.Open.Data:hover {color: #05d8af; border-color: #05d8af;}
a.Open.Government:hover {color: #f42f71; border-color: #f42f71;}
a.Open.Source:hover {color: #00acef; border-color: #00acef;}

#mobile-archive { display: none; }
/*#desktop-archive { padding-top: 20px; }*/

#join-the-revolution { 
  color: #333; 
}

.story-unit.span8 img {
  width: 770px;
  height: 300px;
}

.story-unit.span4 img {
  width: 370px;
  height: 300px;
}

.the-revolution {
  padding: 18px 0px;
}

/* Getting Started  Page */
/* ----------------------------------------------------------------------------------- */


/* Single Story Page */
/* ----------------------------------------------------------------------------------- */

.story-page p {
  font-size: 16px;
  line-height: 1.6em;
  font-family: Helvetica;
}

.storypage-image {
  width: 100%;
}

/* supporting page */
/* ----------------------------------------------------------------------------------- */

.description {
  padding: 0px 0px 40px 0px;
  line-height: 1.6em;
}

#Glossary .span8 ul li, #community .span8 ol li {
  padding: 4px 0px;
}

#Glossary .span8 ul { 
  list-style: none; 
  text-indent: 0px; 
  padding-left: 0px; 
  margin-left: 0px;
}

#FAQ hr {
  margin: 36px 0px;
}

#FAQ h2:not(:first-of-type), #Projects h2:not(:first-of-type) { 
  /* to handle jumping to anchors */
  padding-top: 75px;
}

.jump-menu {
  font-size: 14px;
  font-weight: bold;
  margin: 24px 0px;
  display: block;
}

#Projects h6 {
  padding: 18px 0px 10px 0px;
}

/* archive page */
/* ----------------------------------------------------------------------------------- */

.category {margin-right: 8px;}

/* footer */
/* ----------------------------------------------------------------------------------- */



/*footer a {
  color: #4183c4;
  text-decoration: none;
}
footer a:focus, footer a:active {
  color: #4183c4;
  text-decoration: underline;
}
footer a:active, footer a:hover {
  outline: 0;
  color: #4183c4;
  text-decoration: underline;
}*/
.site-footer {
  position: relative;
  margin-top: 40px;
  /*padding: 40px 65px;*/  
  padding-top: 40px;
  padding-bottom: 40px;

  color: #777;
  font: 12px Helvetica, arial, freesans, clean, sans-serif;
  border-top: 1px solid #eee; 
}

.site-footer:before, .site-footer:after {
  content: " ";
  display: table; 
}
.site-footer:after {
  clear: both; 
}
footer .site-footer .octicon-mark-github {
  position: absolute;
  top: 38px;
  left: 50%;
  height: 24px;
  width: 24px;
  margin-left: -12px;
  font-size: 24px;
  color: #ccc; 
}
footer .site-footer .octicon-mark-github:hover {
  color: #bbb; 
}
.site-footer-links {
  float: left;
  margin: 0;
  list-style: none; 
}
.site-footer-links.right {
  float: right; 
}
.site-footer-links li {
  display: inline-block;
  font-size: 12px;
  line-height: 1.5;
}
.site-footer-links li + li {
  margin-left: 10px; 
}
.site-footer-links img {
  display: block; 
}

/* Oraganizations Section */ 
/* ----------------------------------------------------------------------------------- */

#orgs {
  position: relative;
  height: 414px;
  overflow-y: hidden;
}
#the-orgs {
  position: absolute;
  top: -20px;
  left: 0px;
  float: left;
  z-index: 0;
}
.orgs-cutout{
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 40px;
  z-index: 10;
  background: #fff;
  width: 410px;
  height: 458px;
}

.orgs-text {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 40px;
  z-index: 10;
  width: 520px;
}
.orgs-text h2 {
  z-index: 10;
}
.orgs-cutout::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 441px solid #fff;
  border-right: 249px solid transparent;
  left: 410px;
  top: 0px;
  z-index: 9;
}
img.avatar {
  width: 80px;
  height: 80px;
}

/* Media Queries */ 
/* ----------------------------------------------------------------------------------- */

@media (max-width: 767px) {
  body { padding-top: 50px;}
  #top-nav {padding-left: 20px; padding-right: 20px;}
  /*.container { padding: 0px 20px; }*/
  .story-unit.span4 img {width: 100%;}
  .full-width {background: #fff;}
  /* swap More Stories for Archive link */
  #more-stories, .orgs-cutout, #the-orgs, .site-footer-links { display: none; }
  .orgs-text {width: 100%}
  #mobile-archive {display: inherit;}
}
