---
layout: nil
---

body {
  /* padding-top: 60px; */
  box-sizing: border-box;
}

{% include css/bootstrap.min.css %}
{% include css/bootstrap-responsive.min.css %}

.type {
  clear: both;
  padding-bottom: 30px;
}

.organizations {
  margin: 0;
}

.organization {
  float: left;
  padding: 5px 5px 5px 0;
  width: 80px;
  list-style: none;
}

.avatar {
  height: 80px;
  width: 80px;
}

.meta {
  clear: both;
  list-style: none;
  margin: 0;
}

.meta li {
  float: left;
  color: #ccc;
  padding-right: 25px;
}

li img {
  margin: 10px 0px;
  padding: 1px;
  background: #fff;
  border: 1px solid #dddddd;
  max-width: 660px;
}

.support-page .type-block {
  float: left;
  width: 80px;
  height: 80px;
  background: #00C3F8;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 5px 5px 5px 0;
  color: #fff;
}

.support-page .type-block p {
  margin: 14px 7px;
}

/* begin overriding */

body {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  max-width: 980px;
}

.span4 {
  width: 30%;
  text-align: left;
}

.span8 {
  width: 60%;
}


/* headings */

h1, h2, h3, h4, h5, h6 {
  color: #000;
}

h1 {
  font-size: 200%;
  margin: 20px 0px;
  line-height: 66px;
}

h1 {
  font-size: 400%;
}

h2 { font-size: 26px; }

h3 {
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
}

h4 {
  font-size: 13px;
}

h6 {
  font-size: 13px;
  font-weight: normal;
}

/*h1, h3, h6 {font-family: Roboto Slab;}*/

/* link styles */

a {
  text-decoration: none;
  color: #00C3F8;
}

a:hover {
  /*text-decoration: none;*/
  color: #00C3F8;
  /*border-bottom: 1px solid #00C3F8;*/
}

a img {
  border: 0 none;
}

a.inline-link {
  text-decoration: none;
  color: #00C3F8;
  border: none;
}

h1 a.inline-link:hover {
  border-bottom: 2px solid #00C3F8;
}

a.title-link { color: #333; }
a.title-link:hover { color: #00C3F8; }

h1 a.title-link:hover { border-bottom: 2px solid #00C3F8; }

a.glossary {
  border-bottom: 1px dotted #acacac;
  color: #333;
}

a.glossary:hover {
  color: #acacac;
}

.inline-link.open .data, a.open .data {border-color: #05d8af; color: #05d8af;}
.inline-link.open .government, a.open .government {border-color: #f42f71; color: #f42f71;}
.inline-link.open .source, a.open .source {border-color: #00acef; color: #00acef;}

.title-link.open .data, a.open .data {border-color: #05d8af; color: #05d8af;}
.title-link.open .government, a.open .government {border-color: #f42f71; color: #f42f71;}
.title-link.open .source, a.open .source {border-color: #00acef; color: #00acef;}

/* other text styles */

p, ul, ol {
/*  font-size: 16px;
  line-height: 1.6em;*/
  font-weight: normal;
}

ul li, ol li {
  padding: 4px 0px;
}

.no-style-list {
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
}

small {
  font-size: 11px;
  color: #acacac;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.open .data:not(.more-stories, .title-link) {color: #05d8af;}
.open .government:not(.more-stories, .title-link) {color: #f42f71;}
.open .source:not(.more-stories, .title-link) {color: #00acef;}

.data { color: #05d8af; }
.government { color: #f42f71; }
.source { color: #00acef; }

.fleft { float: left; }
.fright { float: right; }

.subnav h5 {
  margin-top: 0px;
}

.subnav ul {
  list-style: none;
  display: inline-block;
  margin: 0px; padding: 0px;
}

/* sections */

.mini-section {
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 0px;
}

.section {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 0px;
}

.mega-section {
  margin-top: 140px;
  margin-bottom: 140px;
}

.full-width {
  width: 100%;
  background: rgb(249, 249, 249);
  border-bottom: 1px solid rgb(238, 238, 238);
  border-top: 1px solid rgb(238, 238, 238);
}

/* Navigation */

#top-nav {
  z-index: 12;
  margin: 0px auto;
  padding: 18px 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  background: #fff;
}

#top-nav ul {
  list-style: none;
  margin-top: 7px;
  margin-left: 0px;
  padding: 0px;
  display: inline-block;
}

#top-nav ul:first-of-type {
  padding-left: 8px;
}

#top-nav li {
  display: inline;
}

#top-nav li a {
  padding: 5px;
  font-size: 13px;
  font-weight: bold;
  color: #333333;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in 0;
  border: none;
  text-shadow: 0 1px 0 #fff;
}

#top-nav li a:hover {
  color: #00C3F8;
  text-decoration: none;
}

.octicon-mark-github:before {
  content: '\f00a';
}

.mega-octicon {
  font: normal normal 32px octicons;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

.logo-invertocat {
  float: left;
  padding: 8px 10px 7px;
  margin-left: -10px;
  margin-right: -10px;
  color: #333333;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in 0;
  white-space: nowrap;
}

.logo-invertocat:hover {
  border: none;
}

#top-nav .octicon-mark-github {
  float: left;
  width: 24px;
  height: 25px;
  font-size: 25px;
}

header {
  text-align: right;
}

  header:before, header:after {
    content: " ";
    display: table; }
  header:after {
    clear: both; }

header .logo {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  height: 24px;
  width: 537px;
  /*margin: 7px 30px 0 0;*/
  float: left;
  background-image: url(../img/github-gov-black.png);
  background-size: contain;
  background-repeat: no-repeat;
}

header .container {
  /*padding-top: 15px;
  padding-bottom: 15px;*/
  padding-top: 23px;
  padding-bottom: 23px;
}

header nav a{
  color: #333333;
  font-weight: bold;
  margin-left: 25px;
  font-size: 13px;
  vertical-align: middle;
}

.splash {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

/* Stories Section */

.stories {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
}

.story-unit h2 { margin: 8px 0px; }

.meta:not(.more-stories) {
  padding-bottom: 8px;
  font-weight: 500;
}

.meta {
  font-size: 12px;
}

.meta a.open.data { color: #05d8af; font-weight: 500; }
.meta a.open.government { color: #f42f71; font-weight: 500;}
.meta a.open.source { color: #00acef; font-weight: 500;}

.one-story {
  padding-bottom: 6px;
}

.homepage-image {
  max-width: 770px;
  height: 150px;
  background-color: #eee;
}

.middle-nav {
  font-weight: bold;
}

/*.post-image::before {
  position: relative;
  content: "";
  width: 0;
  height: 0;
  border-top: 50px solid #05d8af;
  border-right: 50px solid transparent;
  top: 49px;
}*/

/*.post-image.open.data:before { border-top-color: #05d8af; }
.post-image.open.government:before { border-top-color: #f42f71; }
.post-image.open.source:before { border-top-color: #00acef; }*/

a.open.data:hover { color: #05d8af; border-color: #05d8af; }
a.open.government:hover { color: #f42f71; border-color: #f42f71; }
a.open.source:hover { color: #00acef; border-color: #00acef; }

#mobile-archive { display: none; }

#join-the-revolution {
  color: #333;
}

.story-unit.span8 img {
  /*width: 770px;*/
  height: 200px;
}

.story-unit.span4 img {
  /*width: 370px;*/
  height: 200px;
}

.the-revolution {
  padding: 18px 0px;
}

/* footer */
/* ----------------------------------------------------------------------------------- */

.site-footer {
  position: relative;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #777;
  font: 12px;
  border-top: 1px solid #eee;
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
}

.site-footer:before, .site-footer:after {
  content: " ";
  display: table;
}

.site-footer:after {
  clear: both;
}

footer .site-footer .octicon-mark-github {
  position: absolute;
  top: 38px;
  left: 50%;
  height: 24px;
  width: 24px;
  margin-left: -12px;
  font-size: 24px;
  color: #ccc;
}

footer .site-footer .octicon-mark-github:hover {
  color: #bbb;
}

.site-footer-links {
  float: left;
  margin: 0;
  list-style: none;
}

.site-footer-links.right {
  float: right;
}

.site-footer-links li {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
}

.site-footer-links li + li {
  margin-left: 10px;
}

.site-footer-links img {
  display: block;
}

/* Oraganizations Section */

#orgs {
  position: relative;
  height: 365px;
  overflow: hidden;
  margin-bottom: 18px;
}
.the-orgs {
  position: absolute;
  top: -30px;
  left: -60px;
  display: inline;
  width: 120%;
  z-index: 0;
}

img.avatar {
  width: 80px;
  height: 80px;
}

.contribute {
  background: #FAFAFA;
  border: 1px solid #EEE;
  border-radius: 4px;
  padding: 14px;
  box-sizing: border-box;
}

/* Single Story Page */
/* ----------------------------------------------------------------------------------- */

.storypage-image {
  width: 100%;
  border-bottom: 4px solid;
}

/* Supporting page */
/* ----------------------------------------------------------------------------------- */

.support-page h2:not(:first-of-type) {
  margin: 28px 0px 10px;
}

.description {
  padding: 0px 0px 40px 0px;
}

.description a:not(.read-more) {color: #333;}

#Glossary .span8 ul {
  list-style: none;
  text-indent: 0px;
  padding-left: 0px;
  margin-left: 0px;
}

#FAQ h2:not(:first-of-type), #Projects h2:not(:first-of-type) {
  padding-top: 75px;
}

#FAQ h4:not(.description) {
  padding: 30px 0px 10px 0px;
}

#markdown-toc {
  padding-bottom: 30px;
}

.jump-menu {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 24px;
  display: block;
}

/* archive page */
/* ----------------------------------------------------------------------------------- */

.category {margin-right: 8px;}

#Archive .meta, #CategoryArchive .meta {
  padding-bottom: 0px;
  font-weight: 300;
}
#Archive h5 {
  margin: 3px 0px 10px 0px;
}

#Category {}

/* Media Queries */
/* ----------------------------------------------------------------------------------- */

@media (max-width: 767px) {
/*  body { padding-top: 50px;}
  #top-nav {padding-left: 20px; padding-right: 20px;}
  .story-unit.span4 img {width: 100%;}
  .full-width {background: #fff;}
  #more-stories, .orgs-cutout, #the-orgs, .site-footer-links { display: none; }
  .orgs-text {width: 100%}
  #mobile-archive {display: inherit;}*/
}
