{% include header.html %}

</div>
  <div id="{{ page.title | replace: ' ','-' }}" class="container-lg p-responsive">
    <div class="text-center my-4 my-md-6">
      <h1 class="alt-h2 pt-4 pb-3 pt-sm-5">{{ page.title }}</h1>
      <p class="lead text-gray col-md-8 mx-auto">{{ page.description }}</p>
    </div>
  </div>

  <div class="container-lg p-responsive">
    {{ content }}

{% if page.form %}
  <div class="container-lg p-responsive">
    <div class="col-12 col-sm-10 col-md-8 mx-auto pb-6">

      <div class="mt-4 mb-2 p-5 border rounded-2 box-shadow">
        {% include {{ page.form | append: '.html' }} %}
      </div>
    </div>
  </div>
{% endif %}

<!---for form --->
  <script src="{{ "/assets/js/utm_form-1.0.3.min.js" | relative_url  }}"></script>
  <script src="https://js.maxmind.com/js/apis/geoip2/v2.1/geoip2.js"></script>
  <script src="{{ "/assets/js/validate.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/geoip.js" | relative_url }}"></script>

{% include footer.html %}
