{% include header.html %}
  
<header class="container">
	<div class="row">
  	<span class="span8"><h1>Governments are using GitHub to <a href="#" class="inline-link open data" title="Data made easily accessible and fee to the public.">open data</a>, find <a href="#" class="inline-link open source" title="Code or creation materials made easily accessible and free to the public.">open source</a> projects and be a more <a href="#" class="inline-link open government" title="An acessible, transparent and forthcoming with data government agency.">open gov</a>.</h1></span>
	</div>
</header>
  
  <div id="content">

{{ content }}
  
  </div>

{% include footer.html %}
