{% include header.html %}
<div class="full-width">
	<header class="container">
  	<div class="row">
  	<div class="span8">
  		<!-- <h1>GitHub's powerful tools for collaboration and sharing are helping government be more transparent, efficient and accessible.</h1> -->

  		<!-- <h2>Stories of <a href="#" class="title-link open data" title="Data made easily accessible and fee to the public.">open data</a>, <a href="#" class="title-link open source" title="Code or creation materials made easily accessible and free to the public.">open source</a> and  <a href="#" class="title-link open government" title="An acessible, transparent and forthcoming with data government agency.">open government</a>.</h2> -->

  		<h1>Governments are using GitHub to <span class="Data" title="Data made easily accessible and fee to the public.">open data</span>, find <span class="Source" title="Code or creation materials made easily accessible and free to the public.">open source</span> projects and be a more <span class="Government" title="An acessible, transparent and forthcoming with data government agency.">open government</span>.</h1>

 <!-- <h1><span style="font-family: Apex New;"><strong>GitHub</strong> and Government</span></h1>

 <h2>Tools for collaboration and sharing are helping government be more transparent, efficient and accessible.</h2> -->
  	</div>
</div>
</header>
  </div>
  <div id="content">

{{ content }}
  
  </div>

{% include footer.html %}
