{% include header.html %}

<div class="container">
  <div class="row">
    <div class="span8">
      <img class="storypage-image {{ page.category }}" src="{{ page.image }}" alt="{{ page.title }}"/>
      <div class="meta {{ page.category }}"><a class="{{ page.category }}" href="/categories/#{{ page.category | replace: ' ','-' }}">{{ page.category }}</a></div>
      <h1>{{ page.title }}</h1>
      <div class="meta">Published {{ page.date | date: "%B %d, %Y"}} {% if page.author %} by {{ page.author }}{% endif %}</div>
    </div>
  </div>

  <div id="content" class="row story-page">
    <div class="span8 mini-section">
      {{ content }}
    </div>
    <div class="span4 contribute">
      <h3>Contribute</h3>
      <h6>See an error or have a story of your own to tell? This page is open source, so <a href="{{ site.prose_server}}#/github/government.github.com/edit/gh-pages/{{ page.path }}" data-proofer-ignore="true">submit a pull request</a>!</h6>
    </div>
  </div>

</div>

{% include footer.html %}
