{% include header.html %}


  <div id="{{ page.title }}" class="container">
    	<div class="row">
    		<div class="span12">
    			<h1>{{ page.title }}</h1>
    		</div>
    	</div>

  		<div class="row">
  			<div class="span8">
  				<h3 class="description">{{ page.description }}</h3>
  			</div>
      </div>
    </div>

  <div class="container mini-section">
  	<div class="row">
	  	<div class="span8">
				{{ content }}
			</div>

      <div class="span4 subnav contribute">
        <h5>More Resources</h5>
        <ul>
          <li><a href="/docs/about/">About GitHub</a></li>
          <li><a href="/docs/faq/">Frequently Asked Questions</a></li>
          <li><a href="/docs/glossary/">Glossary of Terms</a></li>
          <li><a href="/docs/projects/">Project Ideas</a></li>
        </ul>
      </div>

		</div>
  </div>

{% include footer.html %}
